		<div class="header">
		<div class="wrap">
					<div class="logo">
			<a href="<%=welding_index_path%>"><img src="/assets/logo.png" alt=""/></a>
			</div>
		<ul class="menu">
				 <li class="active"><a href="<%=welding_index_path%>">HOME</a> </li>
					 <li class="arrow"><a href="<%= welding_about_path %>">ABOUT</a> </li>
					 <li><a href="<%= welding_services_path_path%>">SERVICES</a>  </li>
					 <li><a href="<%=welding_products_path%>">PRODUCTS</a> </li>
					  <li><a href="<%=welding_contact_path%>">CONTACT</a> </li>
					    <div id="lavalamp"> </div>
					  <div class="clear"> </div>
				</ul>
				   <div class="clear"> </div>
		</div>
		<div class="clear"> </div>
		</div